# ---------- 데이터셋 ----------
# 폴더 이름이 dataset 인 것은 전부 무시
dataset/
**/dataset/

# ---------- 모델 체크포인트 ----------
*.pth
*.pt
*.tar

# -- record ignore --
record/
**record/
runs/
**runs/
*.onnx
*.trt
*.engine
__pycache__/
.vscode/